

<app-cart (cartMinus)="onMinus($event)" (cartPlus)="onPlus($event)" (cartDelete)="onDelete($event)"
  *ngFor="let cartItem of cartItems" [cartItem]="cartItem">

</app-cart>

<div class="table-responsive">
    <table class="table table-bordered">
                  <tbody>
                  <tr>
        <td class="text-right"><strong>Total</strong></td>
        <td class="text-right">${{totalSum}}</td>
      </tr>
                </tbody></table>
    <p class="text-right">
   
      <a (click)="onCheckout()" class="button btn btn-outline">
        Checkout</a>
    </p>
  </div>